<mat-card>
	<h4>Basic List</h4>
	<app-basic-list></app-basic-list>
</mat-card>
<br/>
<mat-card>
	<h4>Navigation lists</h4>
	<app-nav-list></app-nav-list>
</mat-card>
<br/>
<mat-card>
	<h4> Selection lists</h4>
	<app-selection-list></app-selection-list>
</mat-card>
<br/>
<mat-card>
	<h4> Multi-line lists</h4>
	<app-multi-line-list></app-multi-line-list>
</mat-card>
<br/>
<mat-card>
	<h4> Lists with icons</h4>
	<app-list-with-icons></app-list-with-icons>
</mat-card>
<mat-card>
	<br/>
	<h4> Lists with avatars</h4>
	<app-list-with-avatars></app-list-with-avatars>
</mat-card>
<br/>
<mat-card>
	<h4> Dense lists</h4>
	<app-dense-lists></app-dense-lists>
</mat-card>
<br/>
<mat-card>
	<h4> Lists with multiple sections</h4>
	<app-list-with-sections></app-list-with-sections>
</mat-card>
<br/>